.basketDiv{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    text-align: center
}
.crosImage{
    float:left; 
    margin: 7px 7px 7px 0; 
    height: auto;
}
.mb-2{
    height: auto;
}
.ggg{
    right: 0;
    bottom: 0;
    position: absolute;
}